@page
@model HomeTransactionsManagerWebAppRazor.Pages.TestModel
@section DeferScripts {
    <script type="module" src="~/js/calendar-manager.js" defer></script>
}
@{
}

<br />
<br />

<h2 class="text-warning align-items-center">TEST AREA</h2>

<br />
<br />

<div id="Calendar">
    
</div>
