@page
@model HomeTransactionsManagerWebAppRazor.Pages.TestModel
@{
}

<br />
<br />

<h2 class="text-warning">TEST AREA</h2>

<br />
<br />

<div class="container" id="DataTableContainer">
    <div class="row">
        <div class="col-12">
            <table id="DataTable" class="table table-striped border w-100">
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/data-table.js"></script>
    <script src="~/js/transactions-listing-manager.js"></script>
}
